<div class="container p-5">
    <div class="row">
        <div class="col md-10 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>login</h3>
                </div>  
                <div class="card-body">
                    <form action="/login" method="post">
                        <div class="form-group m-3">
                            <input type="text" name="username" placeholder="username" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <input type="password" name="password" placeholder="contraseña" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <button class="btn btn-success btn-block">
                                    Login
                            </button>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>

</div>